name: Release pip package

on:
  push:
    branches: [release/*]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: Release
    permissions:
      id-token: write
    defaults:
      run:
        working-directory: python
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Show Python version
        run: python --version

      - uses: cucumber/action-publish-pypi@v3.0.0
        with:
          working-directory: "python"
