---
name: Release ruby gem

on:
  push:
    branches:
      - release/*

jobs:
  pre-release-check:
    uses: cucumber/ci-environment/.github/workflows/prerelease-checks.yml@main

  test-ruby:
    uses: cucumber/ci-environment/.github/workflows/test-ruby.yml@main

  publish-rubygem:
    name: Publish Ruby Gem
    needs: [pre-release-check, test-ruby]
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.8
          bundler-cache: true
          working-directory: ruby
      - name: Synchronize CiEnvironments.json
        working-directory: ruby
        run: bundle exec rake ci_environments
      - run: ./scripts/fail-if-dirty
      - name: Publish ruby gem
        uses: cucumber/action-publish-rubygem@d8918cbdee789cfc78f346a96a59596b87795be1 # v1.0.0
        with:
          working_directory: ruby
          rubygems_api_key: ${{ secrets.RUBYGEMS_API_KEY }}
