---
name: test-go
on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - go/**
      - CiEnvironments.json
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - go/**
      - CiEnvironments.json
      - testdata/**
      - .github/**
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        go-version: ["1.17.x", "1.18.x"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache-dependency-path: go/go.sum
      - name: lint
        working-directory: go
        run: gofmt -w .
      - name: Run go vet
        working-directory: go
        run: go vet ./...
      - name: Run go test
        working-directory: go
        run: make test
