---
name: test-ruby

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ruby: ['2.6', '2.7', '3.0', '3.1', '3.2']
        include:
          - os: windows-latest
            ruby: '3.2'
          - os: macos-latest
            ruby: '3.2'

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          working-directory: ruby
      - name: bundle exec rake
        working-directory: ruby
        run: bundle exec rake
      - run: ./scripts/fail-if-dirty
